<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">

    <title>UAR</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta name="description" content="User-Activity-Recognition">
    <meta name="theme-color" content="#0071c5">
    <!-- Origin Trial Token, feature = Generic Sensors, origin = https://intel.github.io, expires = 2018-02-27 -->
    <meta http-equiv="origin-trial" data-feature="Generic Sensors" data-expires="2018-02-27" content="AjL+UlBzLjx+0FPXrML6IMA/Ax9GsO/7rUvV/aaKkh3KknUSwDBgymn0d3NhGeRMNS7FlYD73ernqvZNoqzNMw4AAABWeyJvcmlnaW4iOiJodHRwczovL2ludGVsLmdpdGh1Yi5pbzo0NDMiLCJmZWF0dXJlIjoiR2VuZXJpY1NlbnNvciIsImV4cGlyeSI6MTUxOTczOTAwNX0=">
  </head>

  <body>
    {{{body}}}

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- jquery and socket.io (to handle chat and notifies) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
      $(function () {
        var socket = io.connect('https://uar-mobile-app.herokuapp.com', {transports:['websocket']});
        //var socket = io.connect('http://localhost:5001/', {transports:['websocket']});

        var lasthour = document.getElementById('lasthour-uar');
        var localStorage = window.localStorage;

        for(i = (Date.now() / 1000) - 3600; i < (Date.now() / 1000); i++){
          lasthour.innerHTML = '<c><font size=2><'+localStorage.getItem(i.toString())+'></font></c>'
        }
        /******************************************** COOKIES LIBRARY ****************************/
        
        function setCookie(name) {
          document.cookie = "username=" + name;
        }

        function getCookie(name) {
          var ca = document.cookie.split('=');
          return ca[1] == name ? name : "";
        }

        function checkCookie(name) {
          var user = getCookie(name);
          if (user != "") {
            alert("Welcome again " + user);
            //socket.emit('user', {user: user, flag: 1});
          } else {
            user = prompt("Please enter your name:", "");
            if (user != "" && user != null) {
              setCookie(user);
              //socket.emit('user', {user: user, flag: 0});
            }
          }
        }

        checkCookie('');
        
        /*
        socket.on('activities', function(data){
          console.log("CLIENT" + data);
          //lasthour.innerHTML = '<c><font size=2><'+data+'></font></c>';
        
        });
        */

        var values_acc = document.getElementById('values_acc');
        var status_acc = document.getElementById('status_acc');
        var result_acc = document.getElementById('result_acc');
        var warning = document.getElementById('warning');

        var i = 0;

        function predict(x, y, z){
          let magnitude = Math.hypot(x, y, z);
          //status_acc.innerHTML = '<h4 class="text-center">'+magnitude+'</h1>'
          if(magnitude > 9.05 && magnitude < 9.95) return 1;
          else return 0;
        }

        function startApp() {
          let acc = new Accelerometer({frequency: 4});
          let gyro = new Gyroscope({frequency: 4});

          acc.addEventListener('reading', function(e) {
            i++;
            //values_acc.innerHTML = 'Accelerometer<br> x: ' + e.target.x + '<br> y: ' + e.target.y + '<br> z: ' + e.target.z;
            var prediction = predict(e.target.x, e.target.y, e.target.z);
            /*
            socket.emit('values', {
              user_id: 1,
              x: e.target.x,
              y: e.target.y,
              z: e.target.z,
              activity: prediction
            });
            */
            if(i%4 == 0){
              localStorage.setItem((Date.now() / 1000).toString(), prediction);
              if(prediction == 1) lasthour.innerHTML = '<c><font size=2><STILL></font></c>'
              else lasthour.innerHTML = '<c><font size=2><MOVING></font></c>'
            }
            if(prediction  == 1) result_acc.innerHTML = '<i class="text-center fas fa-male fa-10x"><h1 class="display-4 text-center">STILL</h1></i>'
            else result_acc.innerHTML = '<i class="text-center fas fa-running fa-10x"><h1 class="display-4 text-center">MOVING</h1></i>'
          });
          acc.start();
        }

        if ('Accelerometer' in window) {
          navigator.permissions.query({ name: "accelerometer" }).then(result => {
            if (result.state != 'granted') {
              warning.innerHTML = "Sorry, we're not allowed to access sensors on your device..";
              return;
            }
            startApp();
          }).catch(err => {
            console.log("Integration with Permissions API is not enabled, still try to start");
            startApp();
          });
        } else {
          warning.innerHTML = 'Your browser doesn\'t support sensors. Google chrome and HTTPS are required'
        }
      });
    </script>

  </body>
</html>