<div class="row">  
  <div class="col-sm">
      <div class="card card-body mb-2 col-sm" style="background-color: #81F7F3;">
        <h4 align="center">RAIN HEIGHT &nbsp<i class="fas fa-cloud-showers-heavy"></i></h4>
        <div class="card card-body mb-2">
          <h6 align="center">Latest values received</h6>
          <div id="latest-rain"></div>
          <hr/>
        </div>
        <div class="card card-body mb-2">
          <h6 align="center">Average</h6>
          <div id="avg-rain"></div>
          <hr/>
        </div>
        <div class="card card-body mb-2">
          <h6 align="center">Values received during last hour</h6>
            <div class="card card-body mb-2">
              <div id="lasthour-rain">
                {{#each values}}
                  <c id="{{this.date}}"><font size=2><{{this.rain_height}} mm/h></font></c>
                {{/each}}
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body mb-2 col-sm">
        <h4 align="center">ANALYTICS &nbsp<i class="fas fa-chart-bar"></i></h4>
        <canvas id="rain-chart"></canvas>
        <canvas id="rain-chart-avg"></canvas>
      </div>
    </div>