<div class="row">
    <div class="col-sm">
      <div class="card card-body mb-2 col-sm" style="background-color:#F78181;">
        <h4 align="center">WIND DIRECTION &nbsp<i class="fas fa-wind"></i></h4>
        <div class="card card-body mb-2">
          <h6 align="center">Latest values received</h6>
          <div id="latest-wind-dir"></div>
          <hr/>
        </div>
        <div class="card card-body mb-2">
          <h6 align="center">Average</h6>
          <div id="avg-wind-dir"></div>
          <hr/>
        </div>
        <div class="card card-body mb-2">
          <h6 align="center">Values received during last hour</h6>
            <div class="card card-body mb-2">
              <div id="lasthour-wind-dir">
                {{#each values}}
                  <c id="{{this.date}}"><font size=2><{{this.wind_direction}} °></font></c>
                {{/each}}
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body mb-2 col-sm">
        <h4 align="center">ANALYTICS &nbsp<i class="fas fa-chart-bar"></i></h4>
        <canvas id="wind-dir-chart"></canvas>
        <canvas id="wdir-chart-avg"></canvas>
      </div>
    </div>
  </div>