<nav class="navbar navbar-expand-sm navbar-dark bg-success mb-3">
  <div class="container">
    <ul class="navbar-nav">
      <p><b><font size="6" color="white"><i class="fab fa-google"></i><i class="fas fa-cloud"></i>&nbsp Google Cloud IoT Core - MQTT</font></b></p>
    </ul>
    <ul class="navbar-nav ml-auto">
      <p><b><font size="2" color="white">Created by Valerio Coretti 1635747</font></b></p>
    </ul>
  </div>
</nav>
<div class="container">
    {{> temperature}}
    {{> humidity}}
    {{> wind_direction}}
    {{> wind_intensity}}
    {{> rain_height}}
</div>