<div class"container">
    <div class="row"> 
    <div class="col-sm">
        <h1 class="display-4 text-center">User Activity Recognition</h1>

        <div id="values_acc"></div>
        <div id="status_acc"></div>
        <div align="center" id="result_acc"></div>
        <div id="warning"></div>

        <div class="card card-body mb-2">
            <h6 align="center">Values received during last hour</h6>
            <div class="card card-body mb-2">
                <div id="lasthour-uar">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>